<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>
<main class="container">
    <header class="row text-center"></header>
    <section class="row">
        <div class="col  mt-4">
            <div class="card">
                <div class="card-header">
                    <h2>List of category</h2>
                </div>
                <div class="card-body">
                    <div th:if="${message != null}" class="alert alert-primary" role="alert">
                        <i>[[${message}]]</i>
                    </div>
                    <div class="row mt-2 mb-2">
                        <div class="col">
                            <form th:action="@{/admin/categories/list}">
                                <div class="form-inline float-left">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" name="name"
                                           id="name" th:value="${name}"/>
                                    <input type="submit" value="Search"/>
                                </div>
                            </form>
                            <div class="float-right">
                                <a th:href="@{/admin/categories/add}" class="btn btn-outline-primary">Add new</a>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-inverse">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Category ID</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category : ${categories.content}">
                            <td scope="row">[[${category.id}]]</td>
                            <td th:text="${category.name}"></td>
                            <td>
                                <a th:href="@{'/admin/categories/view/' + ${category.id}}"
                                   class="btn btn-outline-info"><i class="fas fa-info"></i>Detail</a>
                                <a th:href="@{'/admin/categories/edit/'+ ${category.id}}"
                                   class="btn btn-outline-warning"><i class="fas fa-edit"></i>Edit</a>
                                <a th:href="@{'/admin/categories/delete/' + ${category.id}}"
                                   class="btn btn-outline-danger"><i class="fas fa-recycle"></i>Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
<!--                    <nav aria-label="Page navigation example">-->
<!--                        <ul class="pagination">-->
<!--                            <li class="page-item"><a class="page-link" th:href="@{'/admin/categories/list?page=0'}">First</a>-->
<!--                            </li>-->
<!--                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--                            <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--                            <li class="page-item"><a class="page-link"-->
<!--                                                     th:href="@{'/admin/categories/list?page=${totalPages-1}'}>Last</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </nav>-->
                </div>
                <div class="card-footer text-muted">
                    <nav aria-label="Page navigation">
                        <div th:if="${totalPages > 1}">
                            <div class="row col-sm-10">
                                <div class="col-sm-5">
                                    Total Rows: [[${totalItems}]]
                                </div>
                                <div class="col-sm-3">
            <span th:each="i: ${#numbers.sequence(0, totalPages-1)}">
      <a th:if="${currentPage != i}" th:href="@{/admin/categories/list(name=${name}, page=${i})}">[[${i+1}]]</a>
      <span th:unless="${currentPage != i}">[[${i+1}]]</span> &nbsp; &nbsp;
            </span>
                                </div>
                                <div class="col-sm-1">
                                    <a th:if="${currentPage < totalPages}"
                                       th:href="@{/admin/categories/list(name=${name}, page=${currentPage + 1})}">Next</a>
                                    <span th:unless="${currentPage < totalPages}">Next</span>
                                </div>

                                <div class="col-sm-1">
                                    <a th:if="${currentPage < totalPages}"
                                       th:href="@{/admin/categories/list(name=${name}, page=${totalPages-1})}">Last</a>
                                    <span th:unless="${currentPage < totalPages}">Last</span>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </section>
    <footer class="row"></footer>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>